    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <h1 class="header center black-text">Dev<span class="green-text">Trax</span></h1>
        <div class="row center">
          <h5 class="header col s12 light">Get to work.</h5>
        </div>
        <div class="col s6 m4">
          <div class="row">
            <form class="col s12 login-form">
              <div class="row">
                <div class="input-field col s12">
                  <input id="email-login" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password-login" type="text" class="validate">
                  <label for="password">Password</label>
                </div>
              </div>
              <br><br>
          </div>
        </div>
        <div class="row center">
          <a href="/profile/:id" type="submit" id="download-button" class="btn-large waves-effect waves-light green">Login</a>
          <a href="/signup" type ="submit" id="download-button" class="btn-large waves-effect waves-light green">Sign Up</a>
        </div>
        </form>
        <br><br>

      </div>
    </div>
  </header>

  <main style="padding-bottom: 20;">
    <div class="container">
      <div class="section">

        <!--   Icon Section   -->

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-green-text">
              <!-- <i class="material-icons">favorite_border</i> -->
              <img src="assets/file-icon.png" width="90" height="90" />
            </h2>
            <h5 class="center">Simple and Easy</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our
              custom components. Additionally, we refined animations and transitions to provide a smoother experience
              for
              developers.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
    </div>
<script src="/javascript/login.js"></script>
