<nav class="green" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="index.html" class="brand-logo">DevTrax</a>
            <!-- <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
        </div>
    </nav>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h3 class="header center black-text">Sign Up</h3>
            <br><br>
        </div>
    </div>

    <div class="container">
        <div class="section">

            <!--   Icon Section   -->

            <div class="col s12 m4">
                <div class="row">
                    <form class="col s12 signup-form">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="first_name" type="text" class="validate">
                                <label for="first_name">First Name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" type="text" class="validate">
                                <label for="last_name">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email-signup" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="username-signup" type="text" class="validate">
                                <label for="email">Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password-signup" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                            {{!-- <div class="input-field col s12">
                                <input id="password-check" type="password" class="validate">
                                <label for="password-check">Re-Enter Password</label>
                            </div> --}}
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                            <label>
                                <input type="checkbox" />
                                <span>I agree to the terms and conditions preseted by DevTrax.</span>
                            </label>
                            </div>
                        </div>
                        <br><br>
                        <div class="row center">
                            <button id="download-button"
                                class="btn-large waves-effect waves-light green" type="submit">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
    <br><br>
    </div>